{{!--
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <h2>All the best of your local news!</h2>
      <hr>
      <h3>Articles...</h3>
      <p>
        {{#if articles}} You have saved articles! {{else}} You don't have any articles, click Srape! {{/if}}
      </p>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div> --}}

<div class="col-sm-8 text-left">
  <h2>All the best of your local news!</h2>
  <hr>
  <h3>Articles...</h3>
  <p>
    {{#if articles}} You have saved articles! {{else}} You don't have any articles, click Srape! {{/if}}
  </p>
</div>