<div>
    {{#each Data}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="each-article">
                <div class="col-sm-8">
                    <p>{{this.title}}</p>
                    <p>
                        <a>{{this.link}}</a>
                    </p>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <a data-id="{{_id}}" class="btn btn-primary notes-btn">Notes</a>
                </div>
                <div class="col-md-1">
                    <button data-id="{{_id}}" class="btn btn-danger delete-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Notes</h4>
            </div>
            <div class="modal-body">
                <div id="note-body-div"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" id="note-form">
                            <textarea class="note-text" name="note-text"></textarea>
                            <div id="note-btn-div"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>