<div class="scrapes">
    {{#each Data}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="each-article">
                <div class="col-sm-8">
                    <p>{{this.title}}</p>
                    <p>
                        <a>{{this.link}}</a>
                    </p>
                </div>
                <div class="col-sm-1 col-sm-offset-3">
                    <button class="btn btn-success save-btn" data-title="{{this.title}}" data-link="{{this.link}}">Save</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>