<div class="scrapes">
    <div>
        {{#each Data}}
            <div class="eachArticle row">
                <div class="col-md-8">
                    <p>Title: {{title}}</p>
                    <p>Link: <a>{{link}}</a></p>
                </div>
                <div class="col-md-1 col-md-offset-3 save-btn">
                    <a href="" class="btn btn-success">Save</a>
                </div>
            </div>
            <hr>
        {{/each}}
    </div>

</div>