<div class="scrapes">
    <div>
        {{#each Data}}
        <div class="each-article row">
            <div class="col-md-8">
                <p>{{this.title}}</p>
                <p>
                    <a>{{this.link}}</a>
                </p>
            </div>
            <div class="col-md-1 col-md-offset-3 save-btn">
                <form action="/save" method="POST">
                    <input type="hidden" class="form-control" name="title" value="{{this.title}}">
                    <input type="hidden" class="form-control" name="link" value="{{this.link}}">
                    <button type="submit" class="btn btn-success" data-saved="false">Save</button>
                </form>
            </div>
        </div>
        <hr> 
        {{/each}}
    </div>

</div>